.form-box{
  flex: 1;
  flex-direction: column;
}
.form-body{
  flex: 1;
  background-color: #f3f5f8;
}
.form-footer{
  height: 95px;
  flex-direction: row;
}
.form-title{
  height: 56px;
  background-color: #f7f8f9;
  padding-left: 25px;
  flex-direction: row;
  align-items: center;
}
.form-info{
  padding: 25px;
}
.form-header-text{
  font-size: 24px;
  color: #999999;
}

.text-normal{
  font-size: 32px;
  color: #464c5b;
}


.text-white{
  font-size: 32px;
  color: #ffffff
}


.text-red{
  color: #fa3300;
  font-size: 32px;
}


.text-gray{
  font-size: 32px;
  color: #666666;
}

.text-grayer{
  font-size: 32px;
  color: #999999;
}


.text-orange{
  color: orange;
  font-size: 25px;
}
.text-orange-large{
  color: orange;
  font-size: 36px;
}
.text-red-large{
}
.text-blue{
  color: dodgerblue;
}
.text-green{
  font-size: 28px;
  color: limegreen;
}
.text-gray-small{
  font-size: 25px;
  color: #999999;
}
.form-text-small{
  font-size: 25px;
  color: #999999;
}

.form-input-text{
  flex: 1;
  height: 50px;
  justify-content: center;
}
.form-textarea {
  font-size: 30px;
  color: #666666;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form-content{
  flex-direction: row;
  align-items: center;
}

/*--button style--*/
.form-btn{
  flex: 1;
  height: 95px;
  border-radius: 0px;
  border-color: transparent;
}
.form-btn-little{
  width: 180px;
  height: 60px;
  border-color: #1daafc;
  border-radius: 30px;
}
.form-btn:active{
  background-color: #eeeeee;
}
.form-btn-blue:active{
  background-color: #5da3f6;
}
.form-btn-little:active{
  background-color: #eeeeee;
}


.circle-box{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    overflow: hidden;
}

.width230{
  width: 230px;
}
.width750{
  width: 750px;
}

.ml15{
  margin-left: 15px;
}
.ml30{
  margin-left: 30px;
}
.mt10{
  margin-top: 10px;
}
.mt15{
  margin-top: 15px;
}
.mt25{
  margin-top: 25px;
}
.mr25{
  margin-right: 25px;
}


.white{
    color: #ffffff;
    font-size: 40px;
}